/*  your css code here. If applicable */
/* .container {
	width:1000px; border:1px solid;
} */
.book-header {
	color: skyblue;
}
h1 {
	font-weight:50;
}
input{ width:100%; border:2px solid #f0f0f0;border-radius:5px; height:20px;}
#submit{
	background-color:blue; color:white;border-radius:5px;height:25px;
	border:none;font-size:10px;cursor:pointer;
}
table {
	/* display: flex; flex-direction:row; justify-content:flex-start; */
	width:100%;
}
table>tr {
	width:100%;
}
table>thead>tr>th {
text-align:left;
}
.delete:hover {
	background-color: red;
	color:white
}


































































































































































































































































































































































































































































































































































	
}